<mat-button-toggle-group>
  <mat-button-toggle class="split-button-2 drop-down-button" [matMenuTriggerFor]="dropdownMenuTwo">
    <mat-icon>add_comment</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
<mat-menu #dropdownMenuTwo="matMenu">
  <button *ngFor="let contentEncoding of userService.contentEncodings" mat-menu-item (click)="newEntry(contentEncoding)">{{contentEncoding.name}}</button>
</mat-menu>
<div class="feedColumn">
  <mat-card-title>{{title}}</mat-card-title>
  <span class="fill-remaining-space"></span>
  <app-list-member></app-list-member>
  <app-list [entries]="entries"></app-list>
</div>
