.headerWrapper {
  top: 0;
  margin-left: 70px;
  position: fixed;
  z-index: 1000;
  width: calc(100% - 70px);
}

.searchWrapper {
  min-width: 300px;
  width: 100%;
  padding-left: 23px;
  color: white;
}

.full-width {
  width: 100%;
}

.header {
  color: white;
  background: #222;
  height: 56px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.subline {
  height: 3px;
  z-index: 997;
  animation: pulseLine infinite 12s alternate;
  transition: all .6s ease;
  overflow: hidden;
  width: 100%;
}

/* todo start the animation in the center and ease out to left and right*/

@keyframes pulseLine {
  0% {
    background-color: #204AAB;
  }
  50% {
    background-color: #2ecc71;
  }
  100% {
    background-color: #333;
  }
}
