<mat-toolbar class="header" color="primary">
  <button *ngFor="let action of leftActions" mat-icon-button (click)="_actionDispatcher.dispatch(action);">
    <mat-icon>{{action.icon}}</mat-icon>
  </button>
  <div style="margin-left: 16px">
    {{title}}
  </div>
  <span class="fill-remaining-space"></span>
  <button *ngFor="let action of rightActions" mat-icon-button (click)="_actionDispatcher.dispatch(action);">
    <mat-icon>{{action.icon}}</mat-icon>
  </button>
  <span>Chat</span>
  <!-- todo add some notification badge on the icons if needed in the header dynamically -->
</mat-toolbar>
