<div fxLayout="row wrap"
     fxLayout.lt-sm="column"
     fxLayoutGap="0px"
     fxLayoutAlign="left stretch">
  <mat-card class="chatColumn" fxFlex="25" fxFlex.gt-md="20">
    <app-chat-navigation></app-chat-navigation>
  </mat-card>
  <mat-card class="chatColumn" fxFlex="75" fxFlex.gt-md="80">
    <mat-card class="chatContent">
      <app-feed-message></app-feed-message>
    </mat-card>
    <mat-card class="chatInputWrapper">
      <div class="messageInput">
        <mat-form-field appearance="none" class="messageInputTextarea">
          <textarea style="color: white;" [matTextareaAutosize] matInput placeholder="Write your message..."></textarea>
        </mat-form-field>
        <button mat-flat-button class="messageInputButton" color="primary">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </mat-card>
  </mat-card>
</div>
