#frame {
  width: 100%;
  height: calc(100vh - 128px);
  background-color: red;
}

#frame #sidepanel {
  float: left;
  min-width: 280px;
  max-width: 340px;
  width: 40%;
  height: 100%;
  background-color: white;
  overflow: hidden;
  position: relative;
}

#frame #sidepanel #contacts {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#frame #sidepanel #contacts::-webkit-scrollbar {
  width: 8px;
  background: white;
}

#frame #sidepanel #contacts::-webkit-scrollbar-thumb {
  background-color: #243140;
}
