<app-header [link]='"/signin"' [title]="'Login'" [showIcon]="true" [icon]="'arrow_back'"></app-header>
<div fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div fxFlex="50%">
    <app-content>
      <app-form [title]="'Forgot password?'">
        <app-input [type]="'email'"
                   [placeholder]="'Email'"
                   [showHint]="true"
                   [hint]="'Enter your account email address. There you will then receive a link to reset your password.'">
        </app-input>
        <app-button [link]="'/reset-password'" [text]="'Confirm'"></app-button>
      </app-form>
    </app-content>
  </div>
</div>








