<!-- todo change the current next-button to the component app-button -->
<div fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="0px"
     fxLayoutGap.xs="0">
  <div fxFlex='auto' fxFlex.gt-md='25' fxFlex.gt-sm='50'>
    <app-whitespace></app-whitespace>
    <mat-horizontal-stepper [linear]="!isLinear" #stepper>
      <mat-step [stepControl]="step1FormGroup">
        <form [formGroup]="step1FormGroup">
          <ng-template matStepLabel>Reset</ng-template>
          <mat-form-field class="fullWidth">
            <input matInput type="email" placeholder="E-Mail address" required>
          </mat-form-field>
          <app-content>
            <mat-hint align="center">Enter your account email to receive a reset code.
              <app-whitespace></app-whitespace>
            </mat-hint>
            <button mat-button matStepperNext class="maxButton">Next</button>
          </app-content>
        </form>
      </mat-step>
      <mat-step [stepControl]="step2FormGroup">
        <form [formGroup]="step2FormGroup">
          <ng-template matStepLabel>Verify</ng-template>
          <mat-form-field class="fullWidth">
            <input matInput type="password" placeholder="Your verification code">
          </mat-form-field>
          <app-content>
            <button mat-button matStepperNext class="maxButton">Next</button>
            <app-whitespace></app-whitespace>
            <mat-hint align="start">Please check your email for a link or code.
            </mat-hint>
          </app-content>
        </form>
      </mat-step>
      <mat-step [stepControl]="step3FormGroup">
        <form [formGroup]="step3FormGroup">
          <ng-template matStepLabel>Set</ng-template>
          <mat-form-field class="halfWidth">
            <input matInput type="password" placeholder="Password" required>
          </mat-form-field>
          <mat-form-field class="halfWidth">
            <input matInput type="text" placeholder="Confirm" required>
          </mat-form-field>
          <app-content>
            <button mat-button matStepperNext class="maxButton">Complete
            </button>
          </app-content>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
