<!-- todo combine the mat toolbar navigation to new component -->
<mat-toolbar *ngIf="showSearch" class="chatNavToolbar">
  <div style="width: 100%">
    <app-input style="font-size: 14px" [showPlaceholderIconPrefix]="true" [placeholderIconPrefix]="'search'"
               [placeholder]="'Type your search query...'"
               [appearance]="'outline'"></app-input>
  </div>
</mat-toolbar>
<app-whitespace [height]="'8px'"></app-whitespace>
<div class="groupListWrapper">
  <app-content *ngFor="let room of rooms">
    <app-card-group
      [title]="room.title"
      [name]="room.name"
      [creator]="room.creator"
      [pictureLogo]="room.pictureLogo"
      [tags]="room.tags"
      [location]="room.location"
      [membersTotal]="room.membersTotal"
      [membersLive]="room.membersLive"
      [description]="room.description"
      [buttonLink]="room.buttonLink">
    </app-card-group>
  </app-content>
</div>
