<!-- todo add a timeslider https://docs.mapbox.com/mapbox-gl-js/example/timeline-animation/ -->
<!-- todo no reaction on the div container padding in the view of the map to push the controls more to the left -->
<!--
<mgl-map
  [style]="'mapbox://styles/mapbox/streets-v9'"
  [zoom]="[9]"
  [center]="[11.5116141, 48.1541385]">

  <div class="mapControlContainer">
    <mgl-control
      mglGeolocate>
    </mgl-control>
    <mgl-control
      mglNavigation>
    </mgl-control>
    <mgl-control
      mglScale
      unit="metric"
      position="bottom-right">
    </mgl-control>
  </div>
</mgl-map>
-->
<mgl-map
  [style]="mapStyle"
  [zoom]="[12]"
  [center]="[10.27739, 47.41156]">
  <mgl-control position="bottom-left">
    <div style="background-color: #e3ebf1">
      <app-content>
        <mat-slide-toggle (change)="mapStyleChanged($event)"><b>Switch to Hashtag Heatmap</b> - Category: Heimat
          entdecken - Most posted Hashtags from this Region by Data from Instagram
        </mat-slide-toggle>
        <p>Most posted tags ( > 10 Mentions): <b>Top sorted desc.: 1. #oberstdorf 2. #allgäu Top 3. #mountains #berge </b> #bayern
          #urlaub #nature #wandern #quarz #nebelhorn #heimatliebe
          #bergliebe
          #bayernistschön #glücklich </p>
      </app-content>
    </div>
  </mgl-control>
  <mgl-control
    mglGeolocate>
  </mgl-control>
  <mgl-control
    mglNavigation>
  </mgl-control>
  <mgl-control
    mglScale
    unit="metric"
    position="bottom-right">
  </mgl-control>

  <ng-container *ngIf="dark">
    <mgl-markers-for-clusters
      source="earthquakes">
      <ng-template mglPoint let-feature>
        <div
          class="marker"
          [title]="feature.properties['Secondary ID']">
        </div>
      </ng-template>
      <ng-template mglClusterPoint let-feature>
        <div
          class="marker-cluster"
          (click)="selectCluster($event, feature)">
          {{ feature.properties?.point_count }}
        </div>
      </ng-template>
    </mgl-markers-for-clusters>

    <mgl-popup
      *ngIf="selectedCluster"
      [feature]="selectedCluster">
      <showcase-cluster-popup
        [clusterComponent]="clusterComponent"
        [selectedCluster]="selectedCluster">
      </showcase-cluster-popup>
    </mgl-popup>
    <mgl-geojson-source
      id="earthquakes"
      [data]="earthquakes"
      [cluster]="true"
      [clusterMaxZoom]="15"
      [clusterRadius]="20">
    </mgl-geojson-source>
    <mgl-layer
      *ngFor="let layer of clusterLayers"
      [id]="layer.id"
      type="circle"
      source="earthquakes"
      [filter]="layer.filter"
      [paint]="layer.paint"
      before="waterway-label">
    </mgl-layer>
    <mgl-layer
      id="unclustered-point"
      type="circle"
      source="earthquakes"
      [filter]="['!=', 'cluster', true]"
      [paint]="{
          'circle-color': 'rgba(0,255,0,0.5)',
          'circle-radius': 20,
          'circle-blur': 1
        }"
      before="waterway-label"
    ></mgl-layer>
  </ng-container>
</mgl-map>
