<mat-grid-list class="quickButtons" cols="5" rowHeight="64px">
  <mat-grid-tile routerLink="/home">
    <mat-icon matBadge="15" matBadgePosition="after" matBadgeColor="warn" class="pullUp">bar_chart</mat-icon>
    <span class="aligned-with-icon">Cockpit</span>
  </mat-grid-tile>

  <mat-grid-tile routerLink="/store">
    <mat-icon class="pullUp">apps</mat-icon>
    <span class="aligned-with-icon">Store</span>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-icon class="pullUp">graphic_eq</mat-icon>
    <span class="aligned-with-icon">Search</span>
  </mat-grid-tile>

  <mat-grid-tile routerLink="/chat">
    <mat-icon matBadge="3" matBadgePosition="after" matBadgeColor="warn" class="pullUp">chat</mat-icon>
    <span class="aligned-with-icon">Chat</span>
  </mat-grid-tile>

  <mat-grid-tile routerLink="/calendar">
    <mat-icon matBadge="2" matBadgePosition="after" matBadgeColor="warn" class="pullUp">calendar_today</mat-icon>
    <span class="aligned-with-icon">Calendar</span>
  </mat-grid-tile>
</mat-grid-list>
