<mat-grid-list class="quickButtons" cols="4" rowHeight="2:1">
  <mat-grid-tile>
    <mat-button-toggle class="buttonHighlight">
      <mat-icon class="pullDown">home</mat-icon><br>Home
    </mat-button-toggle>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-button-toggle class="buttonHighlight">
      <mat-icon class="pullDown">home</mat-icon><br>Home
    </mat-button-toggle>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-button-toggle class="buttonHighlight">
      <mat-icon class="pullDown">home</mat-icon><br>Home
    </mat-button-toggle>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-button-toggle class="buttonHighlight">
      <mat-icon class="pullDown">home</mat-icon><br>Home
    </mat-button-toggle>
  </mat-grid-tile>
</mat-grid-list>
