<div fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="left"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div fxFlex='auto' fxFlex.gt-md='50' fxFlex.gt-sm='80'>
    <app-content>
      <app-card [showContent]="true" [showHeader]="true" [title]="'My Crypto Portfolios'"
                [headerBackground]="'white'" [headerTextColor]="'#333'">
        <app-whitespace></app-whitespace>
        <app-chart-line [chartHeight]="'250px'"></app-chart-line>
      </app-card>
    </app-content>
  </div>
</div>
