<app-content>
  <div class="container"
       fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="left"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div class="item item-1">
    </div>
    <div class="item item-2" fxFlex="50%">
      <app-message
        [creator]="'David Chang'"
        [title]="'Brauche Budgetfreigaben'"
        [creationDate]="'30 Minutes ago'"
        [message]="'Kann mir jemand bitte weiterhelfen ich benötige eine Freigabe!'">
      </app-message>
    </div>
  </div>
</app-content>
