.header {
  position: fixed;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  height: 64px;
  width: 100%;
  background: #222;
}

.body {
  margin-top: 64px;
  padding-bottom: 80px;
  z-index: 0;
  min-height: 100vh;
  background-color: #eee;
}

.logo {
  width: 32px;
  padding-right: 8px;
}

.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 1;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
