<mat-drawer-container>
  <mat-drawer position="end" #drawer mode="over">
    <app-menu></app-menu>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="header" color="primary">
      <img class="logo" src="/assets/logo.png">
      <span>ABIS</span>
      <!-- This fills the remaining space of the current row -->
      <span class="fill-remaining-space"></span>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar>
    <div class="body">
      <router-outlet></router-outlet>
    </div>
    <app-iconbar class="footer"></app-iconbar>
  </mat-drawer-content>
</mat-drawer-container>
