.header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.body {
  margin-top: 64px;
  height: calc(100vh - 96px);
  margin-bottom: 0;
  z-index: 2;
}

.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 32px;
  width: 100%;
  background: #999;
  z-index: 3;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
