<app-header (click)="toggle($event)" [title]="title"></app-header>

<mat-sidenav-container>

  <mat-sidenav #left position="start" mode="over" class="sidebar">
    Start Sidenav.
  </mat-sidenav>

  <mat-drawer-container [hasBackdrop]="false">
    <mat-drawer position="end" #right mode="side" class="sidebar">
      <app-chat></app-chat>
    </mat-drawer>
    <mat-drawer-content>
      <div class="body">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>

  <app-iconbar class="footer"></app-iconbar>
</mat-sidenav-container>

