.sidebarLeft {
  width: 300px;
  background-color: #fff;
}

.sidebarRight {
  width: 50%;
  padding-top: 56px;
  background-color: #fff;
}

@media screen and (max-width: 735px) {
  .sidebarLeft {
    width: 75%;
    max-width: 300px;
  }

  /* todo change the mode from drawer push to over when in mobile view and I have no clue why 101 works */
  .sidebarRight {
    width: 101%;
  }
}

.body {
  margin-top: 56px;
  /* margin-bottom: 56px; */
  background-color: #eee;
  height: calc(100vh - 56px);
  /*  height: calc(100vh - 112px);*/
  overflow-y: auto;
  overflow-x: hidden;
}

.body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

.body::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.appTitle {
  padding-left: 8px;
}

.footer {
  position: fixed;
  height: 56px;
  bottom: 0;
  width: 100%;
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
