<!-- todo replace the current buttons e.g. in the register component with this button. Will need to integrate the handler for "nextstep" here to do so
<!-- todo some experiment to change the state of a button when logged in
  <button (click)="click.emit($event)" routerLink="{{link}}" [ngClass]="{'max-button':_accountService.isLoggedOn, 'maxButtonClean':!_accountService.isLoggedOn}" mat-raised-button>
  <mat-icon *ngIf="showButtonIcon">{{icon}}</mat-icon>{{text}}
</button>
-->
<button *ngIf="link && click.observers.length == 0" routerLink="{{link}}" [ngClass]="{'maxButton':lessStyle == false, 'maxButtonClean':lessStyle == true}" mat-raised-button>
  <mat-icon *ngIf="showButtonIcon">{{icon}}</mat-icon>{{text}}
</button>
<button *ngIf="!link && click.observers.length > 0" (click)="click.emit($event)" [ngClass]="{'maxButton':lessStyle == false, 'maxButtonClean':lessStyle == true}" mat-raised-button>
  <mat-icon *ngIf="showButtonIcon">{{icon}}</mat-icon>{{text}}
</button>
<div *ngIf="link && click.observers.length > 0" style="color:red;">
  This button has at least one attached 'click' handler and a 'link'. <br/>
  You can use either the 'link' property or the 'click' event but not both.
</div>
