.maxButton {
  background: linear-gradient(45deg, #343eff, #5054ff, #6133ff, #7d56ff);
  width: 100%;
  color: white;
  border-radius: 0;
}

.smallEdgeSpace {
  padding: 8px;
}

.maxButtonClean {
  /*background: #204AAB;*/
  background: #ffa82e;
  width: 100%;
  color: white;
  border-radius: 0;
  box-shadow: none;
}
