.threadMessagesList {
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  /* todo make the height here more flexible to the actual height of the parent container have fun */
  height: 40vh;
  min-height: 350px;
}

.sent {
  float: right;
}

.replies {
  float: left;
}

img {
  width: 40px;
}

.threadWrapper {
  border-radius: 0;
  box-shadow: none
}

.threadMessage {
  border-radius: 0;
}
