.threadMessagesList {
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  /* todo make the height here more flexible to the actual height of the parent container have fun */
  height: 40vh;
  min-height: 350px;
}

.threadMessagesList::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

.threadMessagesList::-webkit-scrollbar {
  width: 8px;
  background: #c2c2c2;
}

.sent {
  float: right;
}

.replies {
  float: left;
}

img {
  width: 40px;
}

.threadWrapper {
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  padding: unset;
}

.threadMessage {
  border-radius: 0;
}
