<!-- todo
<div>
  <mat-list-item
    *ngFor="let leaf of leaves">
    {{leaf.properties['Primary ID']}}
  </mat-list-item>
</div>
-->

<mat-card style="border-radius: 0; box-shadow: none">
  <mat-card-header>
    <img mat-card-avatar
         src="https://media.wired.com/photos/598e35fb99d76447c4eb1f28/1:1/w_722,h_722,c_limit/phonepicutres-TA.jpg">
    <mat-card-title>Tom</mat-card-title>
    <mat-card-subtitle>posted 30 Min. ago</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/3/31/Oberstdorf_view.jpg"
       alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      At the center of Oberstdorf is a church whose tall spire serves as a landmark for navigating around town. The
      summits of the Nebelhorn and Fellhorn provide dramatic panoramic views of the alps. The Nebelhorn can be reached
      with a big cable car. Visitors can ride a unique diagonal elevator to the top of the Heini-Klopfer-Skiflugschanze.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
