<app-card-profile></app-card-profile>
<!--<mat-divider></mat-divider>
<mat-nav-list>
  <a mat-list-item routerLink="/cockpit" (click)="close()">
    <button mat-icon-button>
      <mat-icon>bar_chart</mat-icon>
    </button>
    <span>Cockpit</span>
  </a>
  <a mat-list-item routerLink="/store" (click)="close()">
    <button mat-icon-button>
      <mat-icon>apps</mat-icon>
    </button>
    <span>Apps</span>
  </a>
  <a mat-list-item routerLink="/map" (click)="close()">
    <button mat-icon-button>
      <mat-icon>map</mat-icon>
    </button>
    <span>Map</span>
  </a>
  <a mat-list-item routerLink="/studio" (click)="close()">
    <button mat-icon-button>
      <mat-icon>donut_small</mat-icon>
    </button>
    <span>Studio</span>
  </a>
</mat-nav-list>-->
<mat-divider></mat-divider>
<mat-nav-list>
  <a mat-list-item routerLink="/chat-rooms" (click)="close()">
    <button mat-icon-button>
      <mat-icon>people</mat-icon>
    </button>
    <span>Rooms</span>
  </a>
  <a mat-list-item routerLink="/chat" (click)="close()">
    <button mat-icon-button>
      <mat-icon>chat</mat-icon>
    </button>
    <span>Chat</span>
  </a>
</mat-nav-list>
