<app-content>
  <mat-card class="profileCard">
    <img class="profileImage" src="{{picture}}"
         onError="this.src='./assets/error-images/picture.png';">
    <div class="profileInformation">
      <mat-card-title>{{name}}</mat-card-title>
      <mat-card-subtitle>{{slogan}}</mat-card-subtitle>
    </div>

    <mat-card-actions>
      <app-content>
        <mat-grid-list cols="3" rowHeight="2:1">
          <mat-grid-tile>
            <button mat-button>
              <mat-icon>person_add</mat-icon>
            </button>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-button>
              <mat-icon>notifications_off</mat-icon>
            </button>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-button>
              <mat-icon>star</mat-icon>
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </app-content>
      <app-button>Chat</app-button>
    </mat-card-actions>


    <mat-card-content>
      <mat-icon class="contactProfile">lock</mat-icon>
      <p>
        This profile's content is hidden
      </p>
    </mat-card-content>
  </mat-card>
</app-content>
