<app-content>
  <mat-card class="profileCard">
    <img class="profileImage" src="{{picture}}"
         onError="this.src='./assets/error-images/picture.png';">
    <div class="profileInformation">
      <mat-card-title>{{name}}</mat-card-title>
      <mat-card-subtitle>{{slogan}}</mat-card-subtitle>
      <mat-icon class="contactProfile">phone</mat-icon>
      <mat-icon class="contactProfile">email</mat-icon>
      <mat-icon class="contactProfile">home</mat-icon>
    </div>
    <mat-card-actions>
      <app-button>Follow</app-button>
    </mat-card-actions>
    <mat-card-content>
      <mat-icon class="contactProfile">lock</mat-icon>
      <p>
        This profile's content is hidden
      </p>
    </mat-card-content>
  </mat-card>
</app-content>
