.profileBlank {
  border-radius: 0;
  box-shadow: none;
}

.profileHeaderImage {
  max-height: 30vh;
  object-fit: cover;
  object-position: center;
}

.full-width {
  width: 100%;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
}

.iconSpace {
  padding-right: 16px;
}

.chatWrapper {
  height: calc(100vh - 56px - 77px - 48px - 1px);
}

@media screen and (max-width: 735px) {
  .chatWrapper {
    height: calc(100vh - 145px - 48px - 56px);
  }
}


