<app-whitespace></app-whitespace>
<mat-form-field class="halfWidth">
  <input matInput type="text" placeholder="Display name" required maxlength="35">
</mat-form-field>
<mat-form-field class="halfWidth">
  <input matInput type="tel" placeholder="Phone number" maxlength="15">
</mat-form-field>
<mat-form-field class="halfWidth">
  <input matInput type="text" placeholder="Slogan" maxlength="35">
</mat-form-field>
<mat-form-field class="halfWidth">
  <input matInput type="text" placeholder="Job title" maxlength="35">
</mat-form-field>
<app-content>
  <app-file-upload></app-file-upload>
</app-content>
<app-content>
  <button mat-button class="maxButton">Complete
  </button>
  <app-whitespace></app-whitespace>
  <mat-hint align="start">Make your profile easy to recognize for your colleagues and friends.</mat-hint>
</app-content>
