.profileCard {
  text-align: left;
  padding-top: 16px;
}

.profileContent {
  text-align: center;
}

.profession {
  font-size: 1.5em;
}

.information {
  padding-top: 0px;
}

.headerIcon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
