<mat-card>
  <div *ngIf="showImage">
    <img mat-card-image src="{{image}}" onError="this.src='./assets/error-images/picture.png';">
  </div>

  <div class="information">
    <small><b>{{creator}}</b></small>
    <div style="padding-bottom: 12px">
      <span style="font-size: 12px">{{creationDate}}</span>
    </div>
    <mat-card-header>
      <div *ngIf="showIcon" mat-card-avatar><img class="headerIcon" src="{{icon}}"
                                                 onError="this.src='./assets/error-images/picture.png';"></div>
      <mat-card-title>{{title}}</mat-card-title>
      <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
      <mat-chip *ngIf="showStatus" color="accent" selected>{{status}}</mat-chip>
    </mat-card-header>
  </div>

  <div *ngIf="showStats">
    <mat-divider></mat-divider>
    <mat-grid-list cols="3" rowHeight="2:1">
      <mat-grid-tile>
        <h4>{{statsLeft}}</h4>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-icon>{{statsIcon}}</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile><h4>{{statsRight}}</h4></mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>
  </div>

  <mat-card-content *ngIf="showContent" class="profileContent">
    <app-content>
      <div *ngIf="lockedContent">
        <mat-icon>lock</mat-icon>
        <p>This content is hidden</p>
      </div>
      <ng-content></ng-content>
    </app-content>
  </mat-card-content>

  <mat-expansion-panel *ngIf="showAccordion" class="mat-elevation-z0"
                       (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Chart
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-chart></app-chart>
  </mat-expansion-panel>


  <mat-card-actions>
    <app-content>
      <mat-grid-list style="padding-top: 16px" *ngIf="showActionList" cols="3" rowHeight="2:1">
        <mat-grid-tile>
          <button mat-button>
            <mat-icon>visibility</mat-icon>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-button>
            <mat-icon>notifications_off</mat-icon>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-button>
            <mat-icon>star</mat-icon>
          </button>
        </mat-grid-tile>
      </mat-grid-list>
      <span *ngIf="showMaxButton"><app-button routerLink="{{link}}">{{action}}</app-button></span>
    </app-content>
  </mat-card-actions>
</mat-card>
