.avatar img {
  border-radius: 50%;
  position: relative;
  height: 40px;
  width: 40px;
  left: -5px;
  margin-left: -15px;
  z-index: 1;
}

.avatars {
  direction: rtl;  /* This is to get the stack with left on top */
  text-align: left;  /* Now need to explitly align left */
  padding-left: 25px;  /* Same value as the negative margin */
}
