<!-- todo change the current next-button to the component app-button -->
<!-- todo a bug I can not switch to the next step -->
<div fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="0px"
     fxLayoutGap.xs="0">
  <div fxFlex='auto' fxFlex.gt-md='25' fxFlex.gt-sm='50'>
    <app-whitespace></app-whitespace>
    <mat-horizontal-stepper [linear]="!isLinear" #stepper>
      <mat-step [stepControl]="step1FormGroup">
        <form [formGroup]="step1FormGroup">
          <ng-template matStepLabel>Reset</ng-template>
          <mat-form-field class="fullWidth">
            <input matInput type="email" placeholder="E-Mail address" required maxlength="64">
          </mat-form-field>
          <app-content>
            <mat-hint align="center">Enter your account email to receive a reset code.
              <app-whitespace></app-whitespace>
            </mat-hint>
            <button mat-button matStepperNext class="maxButton">Next</button>
          </app-content>
        </form>
      </mat-step>
      <mat-step [stepControl]="step2FormGroup">
        <form [formGroup]="step2FormGroup">
          <ng-template matStepLabel>Verify</ng-template>
        </form>
      </mat-step>
      <mat-step [stepControl]="step3FormGroup">
        <form [formGroup]="step3FormGroup">
          <ng-template matStepLabel>Set</ng-template>
        <app-editor-password></app-editor-password>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
