<div *ngIf="onCockpit">
  <mat-grid-list class="embeddableQuickButtons" cols="3" rowHeight="42px">
    <mat-grid-tile *ngFor="let icon of icons" [style.background]="icon.color" matTooltip="icon.metric +' '+ icon.label">
      <button mat-button class="tileButton">
        <span fxHide fxShow.gt-sm>{{icon.metric}}</span>
        <mat-icon>{{icon.name}}</mat-icon>
        <span  fxHide fxShow.gt-sm class="iconLabelSpacing">{{icon.label}}</span>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div *ngIf="onFooter">
  <div class="subline"></div>
  <mat-grid-list class="quickButtons" cols="5" rowHeight="56px">
    <mat-grid-tile>
      <button routerLink="/cockpit" mat-button class="tileButton">
        <mat-icon>bar_chart</mat-icon>
        <span fxHide fxShow.gt-sm class="iconLabelSpacing">Cockpit</span>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button routerLink="/store" mat-button class="tileButton">
        <mat-icon>apps</mat-icon>
        <span fxHide fxShow.gt-sm class="iconLabelSpacing">Apps</span>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button (click)="openBottomSheet()" mat-button class="tileButton">
        <mat-icon>graphic_eq</mat-icon>
        <span fxHide fxShow.gt-sm class="iconLabelSpacing">Search</span>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button routerLink="/map" mat-button class="tileButton">
        <mat-icon>map</mat-icon>
        <span fxHide fxShow.gt-sm class="iconLabelSpacing">Map</span>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button routerLink="/studio" mat-button class="tileButton">
        <mat-icon>donut_small</mat-icon>
        <span fxHide fxShow.gt-sm class="iconLabelSpacing">Studio</span>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
