<mat-grid-list class="quickButtons" cols="5" rowHeight="64px">
  <mat-grid-tile routerLink="/cockpit">
    <mat-icon matBadge="15" matBadgePosition="after" matBadgeColor="warn" class="pullUp">bar_chart</mat-icon>
    <span class="aligned-with-icon">Cockpit</span>
  </mat-grid-tile>

  <mat-grid-tile routerLink="/store">
    <mat-icon class="pullUp">apps</mat-icon>
    <span class="aligned-with-icon">Apps</span>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-icon class="pullUp">graphic_eq</mat-icon>
    <span class="aligned-with-icon">Search</span>
  </mat-grid-tile>

  <mat-grid-tile routerLink="/map">
    <mat-icon class="pullUp">map</mat-icon>
    <span class="aligned-with-icon">Map</span>
  </mat-grid-tile>

  <mat-grid-tile routerLink="/studio">
    <mat-icon class="pullUp">donut_small</mat-icon>
    <span class="aligned-with-icon">Studio</span>
  </mat-grid-tile>

