<mat-card class="embeddableProfile">
  <mat-card-header>
    <img mat-card-avatar class="profilePicture mat-elevation-z10" src="{{profile.picture}}"
         [matMenuTriggerFor]="statusMenu">
    <mat-menu #statusMenu="matMenu">
      <button mat-menu-item>Set my self away</button>
      <button mat-menu-item>Set my self busy</button>
      <button mat-menu-item>Set me online</button>
    </mat-menu>
    <mat-card-title>
      {{accountService.accountInformation.name}}
    </mat-card-title>
    <mat-card-subtitle class="whiteSubtitle">
      {{profileService.profileInformation.name}}@{{profileService.profileInformation.type}}
    </mat-card-subtitle>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </mat-card-header>
</mat-card>
<mat-divider></mat-divider>
<mat-card class="embeddableDataspace">
  <mat-card-header>
    <mat-card-subtitle>
      <b>{{dataspace.name}}</b>
    </mat-card-subtitle>
    <mat-card-subtitle>
      {{dataspace.type}} Dataspace
    </mat-card-subtitle>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button>
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </mat-card-header>
</mat-card>
<mat-divider></mat-divider>
<mat-nav-list>
  <a mat-list-item routerLink="/cockpit">
    <button mat-icon-button>
      <mat-icon>bar_chart</mat-icon>
    </button>
    <span>Cockpit</span>
  </a>
  <a mat-list-item routerLink="/store">
    <button mat-icon-button>
      <mat-icon>apps</mat-icon>
    </button>
    <span>Apps</span>
  </a>
  <a mat-list-item routerLink="/map">
    <button mat-icon-button>
      <mat-icon>map</mat-icon>
    </button>
    <span>Map</span>
  </a>
  <a mat-list-item routerLink="/studio">
    <button mat-icon-button>
      <mat-icon>donut_small</mat-icon>
    </button>
    <span>Studio</span>
  </a>
</mat-nav-list>
<mat-divider></mat-divider>
<mat-nav-list>
  <a mat-list-item routerLink="/explorer">
    <button mat-icon-button>
      <mat-icon>people</mat-icon>
    </button>
    <span>Teams</span>
  </a>
</mat-nav-list>
