<!--<app-card
  [cardHeight]="'94px'"
  [showHeader]="true"
  [showPicture]="true"
  [showOverlayMenu]="true"
  [title]="'Thomas Cook'"
  [subtitle]="profileService.profileInformation.name + '@' + profileService.profileInformation.type">
  <div collapsed>This should be rendered in collapsed selection of ng-content</div>
  <div content>This should be rendered in content selection of ng-content</div>
</app-card>-->


<mat-card class="embeddableProfile">
  <mat-card-header>
    <img mat-card-avatar class="profilePicture mat-elevation-z10"
         src="https://media.wired.com/photos/598e35fb99d76447c4eb1f28/1:1/w_722,h_722,c_limit/phonepicutres-TA.jpg"
         [matMenuTriggerFor]="statusMenu">
    <mat-menu #statusMenu="matMenu">
      <button mat-menu-item>Set my self away</button>
      <button mat-menu-item>Set my self busy</button>
      <button mat-menu-item>Set me online</button>
    </mat-menu>
    <mat-card-title>
      Thomas Cook <!--{{accountService.accountInformation.name}}-->
    </mat-card-title>
    <mat-card-subtitle class="whiteSubtitle">
      {{profileService.profileInformation.name}}@{{profileService.profileInformation.type}}
    </mat-card-subtitle>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </mat-card-header>
</mat-card>
<app-button [link]="'-'" [text]="'Click dummy for eval V0.1'" style="padding-right: 16px"></app-button>
<mat-divider></mat-divider>
<mat-card class="embeddableDataspace">
  <mat-card-header>
    <mat-card-subtitle>
      <b>{{dataspace.name}}</b>
    </mat-card-subtitle>
    <mat-card-subtitle>
      {{dataspace.type}} Dataspace
    </mat-card-subtitle>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button>
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </mat-card-header>
</mat-card>
<mat-divider></mat-divider>
<mat-nav-list>
  <a mat-list-item routerLink="/cockpit">
    <button mat-icon-button>
      <mat-icon>bar_chart</mat-icon>
    </button>
    <span>Cockpit</span>
  </a>
  <a mat-list-item routerLink="/store">
    <button mat-icon-button>
      <mat-icon>apps</mat-icon>
    </button>
    <span>Apps</span>
  </a>
  <a mat-list-item routerLink="/map">
    <button mat-icon-button>
      <mat-icon>map</mat-icon>
    </button>
    <span>Map</span>
  </a>
  <a mat-list-item routerLink="/studio">
    <button mat-icon-button>
      <mat-icon>donut_small</mat-icon>
    </button>
    <span>Studio</span>
  </a>
</mat-nav-list>
<mat-divider></mat-divider>
<mat-nav-list>
  <a mat-list-item routerLink="/explorer">
    <button mat-icon-button>
      <mat-icon>people</mat-icon>
    </button>
    <span>Teams</span>
  </a>
</mat-nav-list>
