.embeddableProfile {
  border-radius: 0;
  box-shadow: none;
  color: white;
  background-color: #2d2d2d;
}

.profilePicture {
  width: 42px;
  height: 42px;
  border: solid #2ecc71 3px;
}
/* todo Status Indicator of the profile in the sidebar with border color*/


.embeddableDataspace {
  border-radius: 0;
  box-shadow: none;
  height: 42px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.whiteSubtitle {
  color: white;
}

.mat-list-base {
  padding-top: unset;
}
