<!-- todo combine with the avatars component and check for right spacing around the image -->
<!-- todo make status indicator flexible -->
<img mat-card-avatar class="profilePicture mat-elevation-z10"
     src="{{url}}" onError="this.src='./assets/error-images/picture.png';"
     [matMenuTriggerFor]="statusMenu" [style.background]="backgroundColor"
     [style.border-color]="backgroundColor">
<mat-menu #statusMenu="matMenu">
  <button mat-menu-item>Edit my Profile</button>
  <button mat-menu-item>Logout</button>
</mat-menu>
