<mat-card class="embeddableMessage" appMaterialElevation>
  <mat-card-header>
    <img mat-card-avatar src="{{pictureCreator}}"
         onError="this.src='./assets/error-images/picture.png';">
    <mat-card-title>{{creator}}</mat-card-title>
    <mat-card-subtitle>{{creationDate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content style="height: 56px;">
    <span class="limitRows">{{message}}</span>
  </mat-card-content>
  <img mat-card-image class="postPicture" src="{{picturePost}}">
  <mat-card-actions>
    <mat-grid-list cols="3" rowHeight="40px">
      <mat-grid-tile>
        <button mat-icon-button>
          <mat-icon>thumb_up</mat-icon>
        </button>
        <small>89 Likes</small>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-icon-button>
          <mat-icon>comment</mat-icon>
        </button>
        <small>4 Comments</small>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
        <small>4 Shares</small>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-actions>
</mat-card>
