.embeddableMessage {
  border-radius: 0;
}

.postPicture {
  object-fit: cover;
  height: 300px;
}

.splitMessage {
  height: 100%;
  border-radius: 0;
  box-shadow: none;
  padding: unset;
}


.limitRows {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
