<mat-card class="embeddableMessage" appMaterialElevation>
  <div fxLayout="row wrap"
       fxLayout.lt-sm="column"
       fxLayoutGap="0px"
       fxLayoutAlign="left stretch">
    <div fxFlex>
      <mat-card-header>
        <img mat-card-avatar src="{{pictureCreator}}"
             onError="this.src='./assets/error-images/picture.png';">
        <mat-card-title>{{creator}}</mat-card-title>
        <mat-card-subtitle>{{createdAt}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="limitRows">
        {{message}}
      </mat-card-content>
      <img mat-card-image class="postPicture" src="{{picturePost}}">
      <mat-card-actions>
        <mat-grid-list cols="3" rowHeight="40px">
          <mat-grid-tile>
            <button mat-icon-button>
              <mat-icon matTooltip="Like">thumb_up</mat-icon>
            </button>
            <small>89</small>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-icon-button (click)="collapsedSplit = !collapsedSplit">
              <mat-icon matTooltip="Comment">comment</mat-icon>
            </button>
            <small>284</small>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-icon-button>
              <mat-icon matTooltip="Share">share</mat-icon>
            </button>
            <small>38</small>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-actions>
    </div>
    <mat-card-content class="splitMessage" *ngIf="!collapsedSplit" fxFlex="50" fxFlex.gt-md="50">
      <app-content>
        <app-feed-thread></app-feed-thread>
      </app-content>
    </mat-card-content>
  </div>
</mat-card>
