<app-card-form>
  <app-layout>
    <app-container>
      <img mat-card-image src="{{image}}"
           onError="this.src='./assets/error-images/picture.png';">
    </app-container>
    <mat-divider [vertical]="true"></mat-divider>
    <app-container>
      <mat-card-header>
        <app-logo mat-card-avatar [url]="logo"></app-logo>
        <mat-card-title>{{title}}</mat-card-title>
        <mat-card-subtitle>{{description}}
        </mat-card-subtitle>
      </mat-card-header>
      <app-content>
        <!-- todo Will need some list for buttons and actions -->
        <ng-content></ng-content>
      </app-content>
    </app-container>
  </app-layout>
</app-card-form>
