<app-card [title]= 'profile.name'
          [subtitle]="profile.slogan"
          [action]="'Select Avatar'"
          [showMaxButton]="true"
          [showActionList]="true"
          [showIcon]="true"
          [showStats]="true"
          [icon]= 'profile.picture'
          [statsIcon]="'trending_up'"
          [statsLeft]="'User'"
          [statsRight]="'+83.344'"
          [showImage]="true"
          [image]= 'profile.banner'
          [showContent]="true"
          [creator]="'DBI Analytics GmbH'"
          [creationDate]="'Vor 30 Minuten'">
</app-card>
