<div fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="0px"
     fxLayoutGap.xs="0">
  <div fxFlex='auto' fxFlex.gt-md='50' fxFlex.gt-sm='80'>
    <app-content>
      <app-card-form [title]="'Invite members'">
        <mat-form-field class="full-width">
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let member of members" [selectable]="selectable"
                      [removable]="removable" (removed)="remove(member)">
              {{member.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="New members..."
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
        </mat-form-field>
        <mat-hint align="start">Dataspace members can access your data and resources. The will receive an invitation
          email from your account. You can add up to five members to your datapsace free of charge.
        </mat-hint>
        <app-whitespace></app-whitespace>
        <app-button [link]="'/studio'" [text]="'Complete'"></app-button>
      </app-card-form>
    </app-content>
  </div>
</div>



