<app-card-message
  [message]="'hier ist die Nachricht von deinem G'"
  [creator]="'Dave Wave'"
  [creationDate]="'9:15 AM'">
</app-card-message>
<app-whitespace></app-whitespace>
<app-card-message
  [message]="'hier ist die Nachricht von deinem G'"
  [creator]="'Dave Wave'"
  [creationDate]="'9:15 AM'">
</app-card-message>
<app-whitespace></app-whitespace>
<app-card-message
  [message]="'hier ist die Nachricht von deinem G'"
  [creator]="'Dave Wave'"
  [creationDate]="'9:15 AM'">
</app-card-message>
