<div fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="0px"
     fxLayoutGap.xs="0">
  <div fxFlex='auto' fxFlex.gt-md='50' fxFlex.gt-sm='80'>
    <app-content>
      <app-card-intro
        [image]="'./assets/banners/access-cockpit.jpg'"
        [logo]="'./assets/logos/abis-logo.png'"
        [description]="'The collaborative dataspace to discover, share and discuss facts within your teams.'"
        [title]="'ABIS Analytics Cloud'">
        <app-button [link]='"/register"' [text]="'Register'"></app-button>
        <app-whitespace></app-whitespace>
        <app-button [link]='"/signin"' [text]="'Sign in'"></app-button>
      </app-card-intro>
    </app-content>
  </div>
</div>

