<!-- todo combine the mat toolbar navigation to new component -->
<div *ngIf="showActions">
  <mat-toolbar class="chatNavToolbar">
    <button mat-flat-button color="primary" (click)="collapsed = !collapsed">
      <mat-icon>search</mat-icon>
      Search
    </button>&nbsp;
    <span class="chatNavToolbarSpacer"></span>
    <button mat-flat-button color="primary" (click)="actionDispatcher.dispatch({name:'Abis.Chat.Room.Explore'})">
      <mat-icon>explore</mat-icon>
      Explore
    </button>&nbsp;
    <button mat-flat-button color="primary" (click)="actionDispatcher.dispatch({name:'Abis.Chat.Room.Create'})">
      <mat-icon>group_add</mat-icon>
      New group
    </button>
  </mat-toolbar>
  <div style="padding-left: 16px; padding-right: 16px;" *ngIf="collapsed">
    <app-input style="font-size: 14px" [placeholder]="'Type your search query...'"
               [appearance]="'outline'"></app-input>
  </div>
</div>
<app-whitespace [height]="'8px'"></app-whitespace>
<mat-nav-list>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node;">
      <button mat-icon-button disabled></button>
      <mat-icon>{{node.icon}}</mat-icon>
      {{node.name}}
    </mat-tree-node>
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild">
      <a mat-list-item matTreeNodeToggle>
        <app-logo [url]="node.logo"></app-logo>
        <span style="padding-left: 8px">{{node.name}}</span>
      </a>
    </mat-tree-node>
  </mat-tree>
</mat-nav-list>
