<app-content>
  <div class="container"
       fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="center"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex="25%">
      <app-content>
        <app-card
          [title]="'SmartCryptoApp'"
          [subtitle]="'MyWidget #3875'"
          [showIcon]="true"
          [showActionList]="true"
          [showStats]="true"
          [statsIcon]="'trending_down'"
          [statsLeft]="'Profit'"
          [statsRight]="'+23.739 €'"
          [showMaxButton]="true"
          [action]="'Buy/Sell'"
          [showContent]="true">
        </app-card>
      </app-content>
    </div>
    <div class="item item-2" fxFlex="25%">
      <app-content>
        <app-card
          [title]="'SmartCryptoApp'"
          [subtitle]="'MyWidget #3875'"
          [showIcon]="true"
          [showActionList]="true"
          [showStats]="true"
          [statsIcon]="'trending_down'"
          [statsLeft]="'Profit'"
          [statsRight]="'+23.739 €'"
          [showMaxButton]="true"
          [action]="'Buy/Sell'"
          [showContent]="true">
        </app-card>
      </app-content>
    </div>
    <div class="item item-3" fxFlex="25%">
      <app-content>
        <app-card
          [title]="'SmartCryptoApp'"
          [subtitle]="'MyWidget #3875'"
          [showIcon]="true"
          [showActionList]="true"
          [showStats]="true"
          [statsIcon]="'trending_down'"
          [statsLeft]="'Profit'"
          [statsRight]="'+23.739 €'"
          [showMaxButton]="true"
          [action]="'Buy/Sell'"
          [showContent]="true">
        </app-card>
      </app-content>
    </div>
    <div class="item item-4" fxFlex="25%">
      <app-content>
        <app-card
          [title]="'SmartCryptoApp'"
          [subtitle]="'MyWidget #3875'"
          [showIcon]="true"
          [showActionList]="true"
          [showStats]="true"
          [statsIcon]="'trending_down'"
          [statsLeft]="'Profit'"
          [statsRight]="'+23.739 €'"
          [showMaxButton]="true"
          [action]="'Buy/Sell'"
          [showContent]="true">
        </app-card>
      </app-content>
    </div>
  </div>
</app-content>
