<app-content>
  <mat-card>
    <mat-grid-list cols="2" rowHeight="3:1">
      <mat-grid-tile>1</mat-grid-tile>
      <mat-grid-tile>2</mat-grid-tile>
      <mat-grid-tile>3</mat-grid-tile>
      <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</app-content>

<app-content>
  <app-card
    [title]="'SmartCryptoApp'"
    [subtitle]="'The crypto currency watcher'"
    [showIcon]="true"
    [showActionList]="true"
    [showStats]="true"
    [statsIcon]="'trending_down'"
    [statsLeft]="'Profit'"
    [statsRight]="'+23.739 €'"
    [showMaxButton]="true"
    [action]="'Buy/Sell'">
  </app-card>
</app-content>
