<app-content>
  <mat-card>
    <mat-grid-list cols="2" rowHeight="3:1">
      <mat-grid-tile>1</mat-grid-tile>
      <mat-grid-tile>2</mat-grid-tile>
      <mat-grid-tile>3</mat-grid-tile>
      <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</app-content>

<app-content>
  <app-card
    [creator]="'Thomas Müller'"
    [title]="'Neue Bestellung angelegt'"
    [subtitle]="'Ich habe das Budget um 20% erhöht. Hat jemand was dagegen?'"
    [showIcon]="true"
    [showOptions]="true"
    [creationDate]="'Montag 29.12.2019 um 15:40 Uhr'">
  </app-card>
</app-content>

<app-content>
  <app-card
    [creator]="'Julia Ziegel'"
    [title]="'Freigabe wird benötigt'"
    [subtitle]="'Kannst du mir bitte eine Freigaben für die Bestellungen der Motoren geben?'"
    [showIcon]="true"
    [showOptions]="true"
    [creationDate]="'Montag 29.12.2019 um 15:10 Uhr'">
  </app-card>
</app-content>
