<!-- todo optimize on mobile view. maybe make the stepper vertical instead -->
<mat-card-title>New chat group</mat-card-title>
<mat-horizontal-stepper [linear]="!isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Create</ng-template>
      <mat-form-field class="fullWidth">
        <input matInput type="text" placeholder="Group name" required formControlName="firstCtrl">
      </mat-form-field>
      <mat-form-field class="fullWidth">
        <input matInput type="email" placeholder="Description">
      </mat-form-field>
      <div class="fullWidth">
        <mat-radio-group aria-label="Select an option" [required]="true">
          <mat-radio-button class="radioSpacing" [checked]="true" [value]="isPublic">Private room</mat-radio-button>
          <mat-radio-button class="radioSpacing" [value]="!isPublic">Public room</mat-radio-button>
        </mat-radio-group>
      </div>
      <!--todo show different hint depending on the current selected radio button -->
      <app-content>
        <mat-hint *ngIf="isPublic" align="start">Anybody can view and join public rooms.</mat-hint>
        <mat-hint *ngIf="!isPublic" align="start">Private rooms are only for invited members.</mat-hint>
      </app-content>
      <app-content>
        <button mat-button matStepperNext class="maxButton">Next</button>
      </app-content>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Add details</ng-template>
      <!-- todo add chips with autocomplete -->
      <app-list-chip [placeholder]="'Add tags...'"></app-list-chip>
      <mat-form-field class="fullWidth">
        <input matInput type="text" placeholder="Address" required
               formControlName="secondCtrl">
        <mat-hint>Where is your group located?</mat-hint>
      </mat-form-field>
      <app-content>
        <button mat-button>Upload Logo</button>
      </app-content>
      <app-content>
        <button mat-button routerLink="/chat" class="maxButton">Complete</button>
      </app-content>
    </form>
  </mat-step>
</mat-horizontal-stepper>
