<!-- todo optimize on mobile view. maybe make the stepper vertical instead -->
<mat-card-title>New chat group</mat-card-title>
<mat-horizontal-stepper [linear]="!isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Create</ng-template>
      <mat-form-field class="fullWidth">
        <input matInput type="text" placeholder="Group name" required formControlName="firstCtrl">
      </mat-form-field>
      <mat-form-field class="fullWidth">
        <input matInput type="text" placeholder="Description">
        <mat-hint>Add a short description about your group.</mat-hint>
      </mat-form-field>
      <app-whitespace [height]="'32px'"></app-whitespace>
      <mat-radio-group class="fullWidth" aria-label="Select an option" [required]="true">
        <mat-radio-button [checked]="true" [value]="isPublic"
                          matTooltip="Private rooms are only for invited members.">Private room
        </mat-radio-button>
        <mat-radio-button class="radioSpacing" [value]="!isPublic"
                          matTooltip="Anybody can view and join public rooms.">Public room
        </mat-radio-button>
      </mat-radio-group>
      <app-whitespace></app-whitespace>
      <app-content>
        <button mat-button matStepperNext class="maxButton">Next</button>
      </app-content>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Add details</ng-template>
      <!-- todo add chips with autocomplete -->
      <app-list-chip [placeholder]="'Tags...'"></app-list-chip>
      <mat-form-field class="fullWidth">
        <input matInput type="text" placeholder="Address" required
               formControlName="secondCtrl">
        <mat-hint>Where is your group located?</mat-hint>
      </mat-form-field>
      <app-content>
        <app-file-upload></app-file-upload>
      </app-content>
      <app-content>
        <button mat-button routerLink="/chat" class="maxButton">Complete</button>
      </app-content>
    </form>
  </mat-step>
</mat-horizontal-stepper>
