<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="25%">
    <app-content>
      <app-profile [card]="true"></app-profile>
    </app-content>
  </div>
  <div class="item item-2" fxFlex="75%">
    <app-content>
      <app-card
        [creator]="'Thomas Müller'"
        [title]="'Neue Bestellung angelegt'"
        [subtitle]="'Ich habe das Budget um 20% erhöht. Hat jemand was dagegen?'"
        [showIcon]="true"
        [creationDate]="'Montag der 29.12.2019 um 15:40 Uhr'">
      </app-card>
    </app-content>

    <app-content>
      <app-card
        [creator]="'Julia Ziegel'"
        [title]="'Freigabe wird benötigt'"
        [subtitle]="'Kannst du mir bitte eine Freigaben für die Bestellungen der Motoren geben?'"
        [showIcon]="true"
        [creationDate]="'Sonntag der 28.12.2019 um 05:10 Uhr'">
      </app-card>
    </app-content>
  </div>
</div>




