.dbiCard {
  border-radius: 0;
  padding: unset;
}

/* todo dynamic status indicator for the profile picture */
.dbiAvatar {
  width: 45px;
  height: 45px;
  border: solid #2ecc71 3px;
}


.fillRemainingSpace {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
