.full-width {
  width: 100%;
}

.searchBox {
  padding: 16px;
}

.workspaceBlank {
  border-radius: 0;
  box-shadow: none;
}

.sidebarHeader {
  background: #333333;
  height: 65px;
  margin-top: -1px
}

.sectionIcon {
  padding-right: 16px;
  margin-top: 4px;
}
