<div class="sidebarHeader">

</div>

<mat-list>
  <div>
    <h3 fxLayoutAlign="start center" mat-subheader>DATASPACES</h3>
    <mat-icon fxFlex fxLayoutAlign="end center" class="sectionIcon">add_circle_outline</mat-icon>
  </div>
  <app-chat></app-chat>
  <mat-divider style="margin-bottom: 8px"></mat-divider>
  <div>
    <h3 fxLayoutAlign="start center" mat-subheader>DIRECT MESSAGES</h3>
    <mat-icon fxFlex fxLayoutAlign="end center" class="sectionIcon">add_circle_outline</mat-icon>
  </div>
  <mat-list-item *ngFor="let member of members">
    <mat-icon mat-list-icon>person</mat-icon>
    <h4 mat-line>{{member.name}}</h4>
    <small mat-line>{{member.status}}</small>
  </mat-list-item>
</mat-list>
