<div class="sidebarHeader">
  <mat-card-header style="padding: 8px 16px 0 16px; color: white;">
    <img mat-card-avatar src="{{dataspace.logo}}" onError="this.src='./assets/error-images/picture.png';">
    <mat-card-title>Dataspace</mat-card-title>
    <mat-card-subtitle style="color: white">{{dataspace.name}}</mat-card-subtitle>
  </mat-card-header>
</div>

<mat-list>
  <div>
    <h3 fxFlex fxLayoutAlign="start center" mat-subheader>CHANNELS</h3>
    <mat-icon fxFlex fxLayoutAlign="end center" class="sectionIcon">add_circle_outline</mat-icon>
  </div>
  <mat-list-item *ngFor="let channel of channels">
    <mat-icon mat-list-icon>{{channel.icon}}</mat-icon>
    <h4 mat-line>#{{channel.name}}</h4>
    <p mat-line>{{channel.tag}}</p>
  </mat-list-item>
  <mat-divider style="margin-bottom: 8px"></mat-divider>
  <div>
    <h3 fxFlex fxLayoutAlign="start center" mat-subheader>DIRECT MESSAGES</h3>
    <mat-icon fxFlex fxLayoutAlign="end center" class="sectionIcon">add_circle_outline</mat-icon>
  </div>
  <mat-list-item *ngFor="let member of members">
    <mat-icon mat-list-icon>person</mat-icon>
    <h4 mat-line>{{member.name}}</h4>
    <small mat-line>{{member.status}}</small>
  </mat-list-item>
</mat-list>
