.full-width {
  width: 100%;
}

.searchBox {
  padding: 16px;
}


.sidebarHeader {
  background: #222222;
  height: 65px;
  margin-top: -1px;
}

.sectionIcon {
  padding-right: 16px;
  margin-top: 4px;
}
