<!-- todo disable icon button animation -->
<!-- todo add some notification numbers here -->
<mat-nav-list>
  <a mat-list-item>
    <button mat-icon-button matTooltip="Activities">
      <mat-icon matBadge="15" matBadgePosition="after" matBadgeColor="warn">notifications</mat-icon>
    </button>
  </a>
  <a mat-list-item>
    <button mat-icon-button matTooltip="Chats">
      <mat-icon>chat</mat-icon>
    </button>
  </a>
  <a mat-list-item>
    <button mat-icon-button matTooltip="Rooms">
      <mat-icon>room</mat-icon>
    </button>
  </a>
</mat-nav-list>
