<mat-card style="border-radius: 0">
  <mat-card-header>
    <mat-card-subtitle>
      New Portfolio
    </mat-card-subtitle>
    <div fxFlex></div>
    <span style="font-size: 14px; color: #0000008a">24HR</span>&nbsp;
    <span style="font-size: 14px; color: rgba(60,240,105,0.54)">+€783,83</span>
    <mat-icon style="font-size: 14px; color: rgba(60,240,105,0.54)">arrow_drop_up</mat-icon>
    <mat-card-title>
      €1.898,64
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <app-content>
      <app-chart-table></app-chart-table>
    </app-content>
  </mat-card-content>
</mat-card>
