<app-goback [link]='"/register"' [title]="'Signup'" [showIcon]="true" [icon]="'arrow_back'"></app-goback>
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-1"></div>
  <div class="item item-2" fxFlex="40%">
    <app-content>
      <mat-card>
        <app-content>
          <mat-card-title>
            Verify account
          </mat-card-title>
          <mat-card-content>
            <mat-form-field class="full-width">
              <input matInput type="password" placeholder="Password">
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <app-button [link]="'/dataspace'" [text]="'Next'"></app-button>
          </mat-card-actions>
          <app-description [isFormInput]="true"
                           [text]="'Please check your email inbox and click on the registration link or enter the code to confirm that it is you.'">
          </app-description>
        </app-content>
      </mat-card>
    </app-content>
  </div>
  <div class="item item-3"></div>
</div>



