.embeddableProfile {
  border-radius: 0;
  box-shadow: none;
  padding: unset;
}


.profileCard {
  border-radius: 0;
  padding: unset;
  background-color: #7d56ff;
  max-height: 133px;
}

.headerProfileStage {
  height: calc(100% - 56px - 16px);
  padding-top: 16px;
  padding-left: 16px;
}

/* todo build a right sided box with a picture to fill in it
.headerProfileRightSideBar {
  background-color: white;
}

.cover {
  object-fit: cover;
  width: 300px;
  height: 150px;
} */

.headerProfileContent {
  height: 100%;
  color: white;
  min-width: 380px;
  padding-left: 16px;
  padding-top: 7px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
