<mat-card class="embeddableProfile">
  <mat-card-header>
    <img mat-card-avatar class="profilePicture mat-elevation-z10"
         src="{{profileService.profileInformation.picture}}"
         [matMenuTriggerFor]="statusMenu">
    <mat-menu #statusMenu="matMenu">
      <button mat-menu-item>Set my self away</button>
      <button mat-menu-item>Set my self busy</button>
      <button mat-menu-item>Set me online</button>
    </mat-menu>
    <mat-card-title>
      {{userService.userInformation.firstname}}&nbsp;{{userService.userInformation.lastname}}
    </mat-card-title>
    <mat-card-subtitle>
      @{{profileService.profileInformation.displayName}}
    </mat-card-subtitle>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </mat-card-header>
</mat-card>
<mat-divider></mat-divider>
<mat-card class="embeddableDataspace">
  <mat-card-header>
    <mat-card-subtitle>
      <b></b>
    </mat-card-subtitle>
    <mat-card-subtitle>

    </mat-card-subtitle>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button>
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </mat-card-header>
</mat-card>
