<!-- might be the same such as the card contact rethink about -->
<mat-card *ngIf="onMenu" class="embeddableProfile">
  <app-content>
    <mat-card-header style="padding-left: 16px; padding-right: 16px">
      <app-avatar mat-card-avatar [url]="profileService.profileInformation.pictureAvatar"></app-avatar>
      <mat-card-title>
        {{userService.userInformation.firstName}}&nbsp;{{userService.userInformation.lastName}}
      </mat-card-title>
      <mat-card-subtitle>
        @{{profileService.profileInformation.name}}
      </mat-card-subtitle>
      <span class="fill-remaining-space"></span>
      <button mat-icon-button (click)="collapsed = !collapsed">
        <mat-icon *ngIf="!collapsed">arrow_drop_down</mat-icon>
        <mat-icon *ngIf="collapsed">arrow_drop_up</mat-icon>
      </button>
    </mat-card-header>
    <mat-divider></mat-divider>
  </app-content>
  <mat-card class="embeddableDataspace">
    <mat-card-header>
      <mat-card-title>
        Team DBI
      </mat-card-title>
      <mat-card-subtitle>
        Dataspace (3.87 of 20 GB)
      </mat-card-subtitle>
      <span class="fill-remaining-space"></span>
      <button mat-icon-button>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </mat-card-header>
  </mat-card>
  <!-- show/hide button when user is not logged in -->
  <div (click)="close()">
    <app-button [lessStyle]="true" [link]='"/"' [text]="'Sign In / Register'"></app-button>
  </div>
  <mat-card-content *ngIf="!collapsed">
    <ng-content></ng-content>
  </mat-card-content>
  <mat-card-content *ngIf="collapsed">
    <mat-divider></mat-divider>
    HI I AM CONTENT WHEN COLLAPSED -- A LIST OF THE USER PROFILES GOES HERE
  </mat-card-content>
</mat-card>

<mat-card *ngIf="onPage"
          class="profileCard"
          fxLayout
          fxLayout.xs="column"
          fxLayoutAlign="left"
          fxLayoutGap.xs="0">
  <div fxFlex="75%">
    <mat-card-header class="headerProfileStage">
      <img mat-card-avatar class="profilePicture mat-elevation-z10"
           src="{{profileService.profileInformation.pictureAvatar}}"
           [matMenuTriggerFor]="contactMenu">
      <mat-menu #contactMenu="matMenu">
        <button mat-menu-item>add contact</button>
        <button mat-menu-item>follow</button>
        <button mat-menu-item>instant message</button>
      </mat-menu>
      <mat-card-title style="color: white">
        {{userService.userInformation.firstName}}&nbsp;{{userService.userInformation.lastName}}
      </mat-card-title>
      <mat-card-subtitle style="color: white">
        @{{profileService.profileInformation.name}}
      </mat-card-subtitle>
    </mat-card-header>
  </div>
  <!-- todo cleanup here make just material-->
  <div fxFlex="auto">
    <div class="headerProfileContent"
         fxLayout
         fxLayout.xs="row"
         fxLayoutAlign="center"
         fxLayoutGap.xs="0">
      <div fxFlex="25">
        <small>THREADS</small>
        <br>
        <span mat-card-title>687</span>
      </div>
      <div fxFlex="25">
        <small>ROOMS</small>
        <br>
        <span mat-card-title>39</span>
      </div>
      <div fxFlex="25">
        <small>CONTACTS</small>
        <br>
        <span mat-card-title>126</span>
      </div>
      <div fxFlex="25">
        <small>FOLLOWERS</small>
        <br>
        <span mat-card-title>89</span>
      </div>
    </div>
  </div>
</mat-card>



