<div fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="0px"
     fxLayoutGap.xs="0">
  <div fxFlex='auto' fxFlex.gt-md='50' fxFlex.gt-sm='80'>
    <app-content>
      <app-form [title]="'Edit account'">
        <app-input
          [type]="'text'"
          [placeholder]="'Full name'"
          [inputValue]="account.name">
        </app-input>
      </app-form>
    </app-content>
    <app-content>
      <app-form [title]="'Edit profile'">
        <app-input
          [type]="'text'"
          [placeholder]="'Display name'"
          [inputValue]="profile.name"
          [showHint]="true"
          [hint]="'This is how your name will show up in ABIS.'">
        </app-input>

        <app-input
          [type]="'text'"
          [placeholder]="'What I do'"
          [inputValue]="profile.job"
          [showHint]="true"
          [hint]="'Let people know what you do.'">
        </app-input>

        <app-input
          [type]="'text'"
          [placeholder]="'Your slogan'"
          [inputValue]="profile.slogan">
        </app-input>

        <app-input
          [type]="'tel'"
          [placeholder]="'Phone'"
          [inputValue]="profile.phone">
        </app-input>

      </app-form>
    </app-content>
  </div>
  <div fxFlex="50%">
    <app-reset [isProfile]="true"></app-reset>
  </div>
</div>
