<!-- todo combine the mat toolbar navigation to new component -->
<div *ngIf="showActions">
  <mat-toolbar class="chatNavToolbar">
    <button mat-flat-button color="primary" (click)="collapsed = !collapsed">
      <mat-icon>search</mat-icon>
      Search
    </button>
    <span class="chatNavToolbarSpacer"></span>
    <button mat-flat-button color="primary">
      <mat-icon>explore</mat-icon>
      Explore
    </button>&nbsp;
    <button mat-flat-button color="primary" (click)="actionDispatcher.dispatch({name:'Abis.Chat.Room.Create'})">
      <mat-icon>group_add</mat-icon>
      New group
    </button>
  </mat-toolbar>
  <div style="padding-left: 16px; padding-right: 16px;" *ngIf="collapsed">
    <app-input style="font-size: 14px" [placeholder]="'Type your search query...'"
               [appearance]="'outline'"></app-input>
  </div>
</div>
