<!-- todo add a timeslider https://docs.mapbox.com/mapbox-gl-js/example/timeline-animation/ -->
<!-- todo no reaction on the div container padding in the view of the map to push the controls more to the left -->
<mgl-map
  (click)="mapClick($event)"
  [style]="mapStyle"
  [zoom]="[3]"
  [center]="center">

  <mgl-control position="bottom-left">
    <div style="background-color: #e3ebf1"> Hello ! :D </div>
  </mgl-control>

  <mgl-control
    mglGeolocate>
  </mgl-control>

  <mgl-control
    mglNavigation>
  </mgl-control>

  <mgl-control
    mglScale
    unit="metric"
    position="bottom-right">
  </mgl-control>

  <mgl-geojson-source *ngFor="let entry of geoJsonEntries; let i = index" id="{{entry.id}}" [data]="entry.content">
    <mgl-layer id="{{entry.id}}_layer"
               type="fill"
               source="{{entry.id}}"
               (mouseMove)="layerMouseMove($event, entry)"
               (mouseEnter)="layerMouseEnter($event, entry)"
               (mouseLeave)="layerMouseLeave($event, entry)"
               (click)="layerMouseClick($event, entry)"
               [paint]="getPaint(entry)">
    </mgl-layer>
  </mgl-geojson-source>
</mgl-map>
