<div fxLayout="row wrap"
     fxLayout.lt-sm="column"
     fxLayoutGap="0px"
     fxLayoutAlign="left">
  <div fxFlex="100"
       fxFlex.lt-md="100"
       fxFlex.lt-sm="100" *ngFor="let message of entries">
    <app-content>
      <div *ngIf="userService.findContentEncodingById(message.contentEncoding.id).name == 'GeoJsonFeature'">
        <app-card-map
          [entry]="message"
          [groupId]="groupId"
          [message]="message.content"
          [creator]="message.createdBy"
          [createdAt]="message.createdAt"
          [pictureCreator]="''"
          [picturePost]="''"
          [commentsCount]="0"
          [likesCount]="0"
          [sharesCount]="0">
        </app-card-map>
      </div>
      <div *ngIf="!userService.findContentEncodingById(message.contentEncoding.id).name == 'GeoJsonFeature'">
        <app-card-message
          [message]="message.content"
          [creator]="message.createdBy"
          [createdAt]="message.createdAt"
          [pictureCreator]="''"
          [picturePost]="''"
          [commentsCount]="0"
          [likesCount]="0"
          [sharesCount]="0">
        </app-card-message>
      </div>
    </app-content>
  </div>
</div>
