<mat-toolbar color="primary">
  <span>Application Title</span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button routerLink="/login" mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Login</span>
    </button>
    <button routerLink="/signup" mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Signup</span>
    </button>
    <button routerLink="/" mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Home</span>
    </button>
  </mat-menu>
</mat-toolbar>
