<mat-card style="border-radius: 0">
  <mat-card-header>
    <img mat-card-avatar style="border-radius: 0"
         src="{{team.logo}}">
    <mat-card-title>{{team.name}}</mat-card-title>
    <mat-card-subtitle>{{team.nickname}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{team.description}}</p>
    <p>{{team.tags}}</p>
    <small>Is in <b>{{team.address}} - {{team.city}} </b> and <b>{{team.activeUsers}}</b> users are live.
    </small>
    <div style="padding-top: 16px">
      <app-avatars></app-avatars>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <app-button [link]="'/chat'" [text]="'Join Team'" [showButtonIcon]="true"
                [icon]="'lock_open'"></app-button>
  </mat-card-actions>
</mat-card>
