<mat-card class="chatColumn">
  <mat-card class="chatContent">
    <mat-card-header class="chatContentHeader">
      <app-logo class="chatGroupLogo" mat-card-avatar
                [url]="icon"></app-logo>
      <mat-card-title class="chatGroupHeaderTitle"><span style="font-weight: 400; font-size: 0.9em">{{title}}</span>
      </mat-card-title>
      <mat-card-subtitle class="chatGroupHeaderSubtitle">
        <app-iconbar [onChatHeader]="true" [description]="descritption"
                     [membersCount]="memberCount"></app-iconbar>
      </mat-card-subtitle>
      <span class="fill-remaining-space"></span>
      <app-list-member></app-list-member>
    </mat-card-header>
    <app-list [entries]="entries"></app-list>
  </mat-card>
</mat-card>
