<app-card-profile [onMenu]="true">
  <mat-divider></mat-divider>
  <mat-nav-list>
    <a mat-list-item routerLink="cockpit" (click)="close()">
      <button mat-icon-button>
        <mat-icon>bar_chart</mat-icon>
      </button>
      <span>Cockpit</span>
    </a>
    <a mat-list-item routerLink="store" (click)="close()">
      <button mat-icon-button>
        <mat-icon>apps</mat-icon>
      </button>
      <span>Smart Apps</span>
    </a>
    <a mat-list-item routerLink="studio" (click)="close()">
      <button mat-icon-button>
        <mat-icon>donut_small</mat-icon>
      </button>
      <span>Datastudio</span>
    </a>
    <a mat-list-item routerLink="map" (click)="close()">
      <button mat-icon-button>
        <mat-icon>map</mat-icon>
      </button>
      <span>Map</span>
    </a>
    <a mat-list-item class="listItem" routerLink="profile" (click)="close()">
      <button mat-icon-button>
        <mat-icon>people</mat-icon>
      </button>
      <span>Social Streams</span>
    </a>
  </mat-nav-list>
</app-card-profile>
<div style="position: absolute; bottom: 0; height: 56px; width: 100%">
  <app-iconbar [onMenu]="true"></app-iconbar>
</div>
