<div fxLayout="row wrap"
     fxLayout.lt-sm="column"
     fxLayoutGap="0px"
     fxLayoutAlign="space-around center">
  <div fxFlex="25"
       fxFlex.md="50"
       fxFlex.sm="100" *ngFor="let item of items">
    <app-content>
      <app-card-message
        [message]="item.message"
        [creator]="item.creator"
        [creationDate]="item.creationDate"
        [pictureCreator]="item.pictureCreator"
        [picturePost]="item.picturePost">
      </app-card-message>
    </app-content>
  </div>
</div>
