<app-header [link]='"/access"' [title]="'Access'" [showIcon]="true" [icon]="'arrow_back'"
            [subtitle]="'Sign In or register to your account'"></app-header>
<div fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div fxFlex="30%">
    <app-content>
      <mat-card>
        <app-content>
          <mat-card-title>
            Login to your account
          </mat-card-title>
          <mat-card-content>
            <mat-form-field class="full-width">
              <input matInput type="email" placeholder="Email" #email>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput type="password" placeholder="Password" #password>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <!--<app-button [link]="'/cockpit'" [text]="'Confirm'"></app-button>-->
            <app-button (click)="login()" [text]="'Confirm'"></app-button>
          </mat-card-actions>
          <mat-hint align="start">Login with your email and password to your account to access your available
            workspaces.
          </mat-hint>
        </app-content>
      </mat-card>
    </app-content>
  </div>
</div>








