<app-header [link]='"/access"' [title]="'Access'" [showIcon]="true" [icon]="'arrow_back'"></app-header>
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-1"></div>
  <div class="item item-2" fxFlex="40%">
    <app-content>
      <mat-card>
        <app-content>
          <mat-card-title>
            Login to your account
          </mat-card-title>
          <mat-card-content>
            <mat-form-field class="full-width">
              <input matInput type="email" placeholder="Email">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput type="password" placeholder="Password">
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <app-button [link]="'/cockpit'" [text]="'Confirm'"></app-button>
          </mat-card-actions>
          <mat-hint align="start">Login with your email and password to your account to access your available
            workspaces.
          </mat-hint>
        </app-content>
      </mat-card>
    </app-content>
  </div>
  <div class="item item-3"></div>
</div>








