<!-- todo hard coded first send from api later -->
<!-- todo move card to label if installed. How can this be done? -->
<!-- todo map for pharmacy smart app should be filtered on right data -->
<div fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="left"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" *ngFor="let item of items">
    <app-content>
      <app-card-store
        [logo]="item.logo"
        [title]="item.name"
        [subtitle]="item.shortDescription"
        [publisher]="item.publisher"
        [website]="item.website"
        [description]="item.description"
        [buttonLink]="item.buttonLink"
        [buttonTitle]="item.buttonTitle">
      </app-card-store>
    </app-content>
  </div>
</div>
