.chatContentHeader {
  height: 48px;
  background: white;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}


.chatContent {
  overflow: hidden;
  border-radius: 0;
  overflow-y: scroll;
  position: relative;
  height: calc(100% - 56px);
  background-color: #eee;
  padding: unset;
  box-shadow: none;
}

.chatColumn {
  border-radius: 0;
  height: calc(100vh - 56px);
  padding: unset;
  box-shadow: none;
  overflow: hidden;
}

/*todo float the buttons on the navigation of the chat under when changing the width by opening the right sidepanel */
.chatInputWrapper {
  position: absolute;
  bottom: 0;
  border-radius: 0;
  height: 56px;
  width: 100%;
  padding: unset;
  box-shadow: none;
}

.chatContent::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

.chatContent::-webkit-scrollbar {
  width: 8px;
  background: #c2c2c2;
}

.messageInput {
  background-color: #4e4c56;
  width: 100%;
}

.messageInputButton {
  float: right;
  height: 56px;
  border-radius: 0;
  box-shadow: none;
  padding-right: 16px;
}

.messageInputTextarea {
  padding-left: 16px;
}

::placeholder { /* Firefox, Chrome, Opera */
  color: white;
}
