<!-- todo the button can be clicked even if disabled? -->

<mat-card style="border-radius: 0">
  <mat-card-header>
    <app-logo mat-card-avatar [url]=logo></app-logo>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <app-whitespace></app-whitespace>
  <mat-card-content>
    <p>{{description}}</p>
    <small><a routerLink="{{team}}" style="text-decoration: none">{{publisher}}</a></small>
  </mat-card-content>
  <mat-card-actions>
    <app-button [isDisabled]="isDisabled" *ngIf="isInstalled" routerLink="{{discoverLink}}"
                [text]="'Discover'"></app-button>
    <app-button [isDisabled]="isDisabled" *ngIf="!isInstalled" routerLink="{{setupLink}}"
                [text]="'Setup'"></app-button>
  </mat-card-actions>
</mat-card>
