<mat-card style="border-radius: 0">
  <!--<img mat-card-image src="{{image}}"
       onError="this.src='./assets/error-images/picture.png';">-->
  <mat-card-header>
    <img mat-card-avatar src="{{logo}}"
         onError="this.src='./assets/error-images/picture.png';">
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <app-whitespace></app-whitespace>
  <mat-card-content>
    <mat-grid-list style="font-size: 0.8em" cols="4" rowHeight="28px">
      <mat-grid-tile>
        <mat-icon class="iconSpaceRight">shopping_cart</mat-icon>
        {{subscription}}
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-icon class="iconSpaceRight">cloud_download</mat-icon>
        {{installsCount}} Installs
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-icon class="iconSpaceRight">money</mat-icon>
        {{pricePerMonth}} € per user
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-icon class="iconSpaceRight">autorenew</mat-icon>
        {{autoRenew}} renew
      </mat-grid-tile>
    </mat-grid-list>
    <p>{{description}}</p>
    <small><a href="{{websiteUrl}}" target="_blank" style="text-decoration: none">{{publisher}}</a> {{releaseDate}}
    </small>
  </mat-card-content>
  <mat-card-actions>
    <app-button routerLink="{{buttonLink}}" [text]="buttonTitle"></app-button>
  </mat-card-actions>
</mat-card>
