<mat-card class="chatContent">
  <mat-card-header class="chatContentHeader">
    <app-logo class="chatGroupLogo" mat-card-avatar
              [url]="chatGroupLogo"></app-logo>
    <mat-card-title class="chatGroupHeaderTitle"><span style="font-weight: 400; font-size: 0.9em">{{chatGroupTitle}}</span>
    </mat-card-title>
    <mat-card-subtitle class="chatGroupHeaderSubtitle">
      <app-iconbar [onChatHeader]="true" [description]="chatGroupDescription"
                   [membersCount]="chatGroupMembersCount"></app-iconbar>
    </mat-card-subtitle>
    <span class="fill-remaining-space"></span>
    <app-list-member></app-list-member>
  </mat-card-header>
  <app-feed-message [entries]="entries"></app-feed-message>
</mat-card>
<mat-card class="chatInputWrapper">
  <div class="messageInput">
    <mat-form-field appearance="none" class="messageInputTextarea">
      <textarea style="color: white;" [matTextareaAutosize] matInput placeholder="Post new message..."></textarea>
    </mat-form-field>
    <button mat-flat-button class="messageInputButton" color="primary">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</mat-card>
